<div class="row gy-5">
    <section class="col-4">
        <div class="card text-bg-dark">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Product #16433</h5>
                <p class=" text-bg-secondary"> USB xa6 Type C 12 b 1 HDM^VGA AUX 3.5 mm</p>
                <a href="#" class="btn btn-primary">Open</a>
            </div>
        </div>
    </section>

    <section class="col-8">
        {{!-- менюшка с линками --}}
        <div class="card text-bg-info">
            <div class="card-header">
                <div>Menu</div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-bg-warning">
                    <a href="#" class="btn btn-link">Home page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Summary page</a>
                </li>
                <li class="list-group-item">
                    <a hrefs"#" class="btn btn-link">Skills page</a>
                </li>
            </ul>
            <div class="card-footer">
                <button class="btn btn-dark btn-sm">Update list</button>
            </div>
        </div>
    </section>
    <section class="col-6">
        {{!-- таблица полосатая --}}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        #id
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        age
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Jhon</td>
                    <td>35</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Jhon</td>
                    <td>35</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="col-12">
        {{!-- карточки --}}
        <div class=" card text-bg-success">
            <div class="card-header text-center">Card-Header</div>
            <div class="card-body">
                <h6 class="card-title">This is card-title</h6>
                <p>This is content of our box</p>
                <button class="btn btn-dark">Click!</button>
            </div>
            <div class="card-header text-center">Card-Footer</div>
        </div>
    </section>
    <section col="12">
        {{!-- сетка на 12 или х колонок --}}
        <div class="row gy-1 gx-4">
            {{!-- отбивка колонок на х-число --}}
            {{!-- gy-3 вертик отбивка   gx-1 горизонт отбивка --}}
            <div class="col-4">
                <div class="card text-bg-info">
                    <div class="card-header text-center">Card-Header</div>
                    <div class="card-body">
                        <h6 class="card-title">This is card-title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-dark">Click!</button>
                    </div>
                    <div class="card-header text-center">Card-Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-info">
                    <div class="card-header text-center">Card-Header</div>
                    <div class="card-body">
                        <h6 class="card-title">This is card-title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-dark">Click!</button>
                    </div>
                    <div class="card-header text-center">Card-Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-info">
                    <div class="card-header text-center">Card-Header</div>
                    <div class="card-body">
                        <h6 class="card-title">This is card-title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-dark">Click!</button>
                    </div>
                    <div class="card-header text-center">Card-Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-info">
                    <div class="card-header text-center">Card-Header</div>
                    <div class="card-body">
                        <h6 class="card-title">This is card-title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-dark">Click!</button>
                    </div>
                    <div class="card-header text-center">Card-Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-info">
                    <div class="card-header text-center">Card-Header</div>
                    <div class="card-body">
                        <h6 class="card-title">This is card-title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-dark">Click!</button>
                    </div>
                    <div class="card-header text-center">Card-Footer</div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-bg-info">
                    <div class="card-header text-center">Card-Header</div>
                    <div class="card-body">
                        <h6 class="card-title">This is card-title</h6>
                        <p>This is content of our box</p>
                        <button class="btn btn-dark">Click!</button>
                    </div>
                    <div class="card-header text-center">Card-Footer</div>
                </div>
            </div>
        </div>

    </section>

    {{!-- панель навигации --}}
    навигац менюшка
    <div class="card">
        <div class="nav">
            <div class="nav ms-2 me-5">
                <h2 class="nav-item">logo</h2>
            </div>
            <div class="nav">
                <div class="nav-item">
                    <a href="#" class="nav-link ">111</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">2222</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">3333</a>
                </div>
            </div>
        </div>
    </div>


</div>