<main>
    <h1> My friend!</h1>
    {{!-- тест подключенного компонента --}}
    {{>title data="My title"}}

    {{!-- створення стилю в контейнері --}}
    <style>
        h3 {
            color: red;
        }
    </style>

    <div style="color:cornflowerblue;">
        Текст блакітного кольору</div>

</main>