<main>
	{{> title data="Welcome to art" big=true}}
	<article>
		{{#with program}}
		{{#with excursion}}
		<hr>
		<section>
			<h2>{{name}}</h2>
			<div>Location: {{location.city}}. {{location.country}}</div>
			<div>Date: {{date}}</div>
		</section>

		<hr>
		{{#with program}}
		<section>
			<h3>Programm</h3>
			<hr>
			<hr>

			<h4>1. {{[0].name}}</h4>
			<div>Type: {{[0].type}}</div>
			<div>Duration: {{[0].duration}}</div>
			<section>
				<h4>Details:</h4>

				Museum: {{[0].details.museum.name}}
				<div>Address:</div>
				<address>{{[0].details.museum.location.address}}, {{[0].details.museum.location.city}}.
					{{[0].details.museum.location.country}}</address>
				<section>
					<h4>Exhibits</h4>

					<ul>
						<li>
							<div>Name: {{[0].details.museum.exhibits.[0].name}}</div>
							<div>Artist: {{[0].details.museum.exhibits.[0].artist}}</div>
							<div>Description: <i>{{[0].details.museum.exhibits.[0].description}}</i></div>
							<div>Audio guide: {{[0].details.museum.exhibits.[0].audio_guide}}
							</div>
						</li>
						<br>
						<li>
							<div>Name: {{[0].details.museum.exhibits.[1].name}}</div>
							<div>Artist: {{[0].details.museum.exhibits.[1].artist}}</div>
							<div>Description: <i>{{[0].details.museum.exhibits.[1].description}}</i></div>
							<div>Audio guide: {{[0].details.museum.exhibits.[1].audio_guide}}
							</div>
						</li>
					</ul>
				</section>
				<section>
					<h4>Guide</h4>
					<div>Name: {{[0].details.guide.name}}</div>
					<div>Language: {{[0].details.guide.language}}</div>
					<div>Rating: {{[0].details.guide.rating}}</div>
				</section>
			</section>
		</section>
		{{/with}}

		====
		{{#with program}}
		<section>
			<h4> 2. {{[1].name}}</h4>
			<div>Type: {{[1].type}}</div>
			<div>Duration: {{[1].duration}}</div>
			<section>
				<h4>Details:</h4>
				<div>Venue: {{[1].details.venue.name}}
					<div>Address:</div>
					<address>{{[1].details.venue.location.address}}, {{[1].details.venue.location.city}},
						{{[1].details.venue.location.country}}</address>
					<section>
						<h4>Performers</h4>
						<ul>
							<li>
								<div>Name: {{[1].details.performers.[0].name}}</div>
								<div>Type: {{[1].details.performers.[0].type}}</div>
							</li>
							<br>
							<li>
								<div>Name: {{[1].details.performers.[1].name}}</div>
								<div>Type: {{[1].details.performers.[1].type}}</div>
							</li>
						</ul>
					</section>
			</section>
			<section>
				<h4>Guide</h4>
				<div>Name: {{[1].details.guide.name}}</div>
				<div>Language: {{[1].details.guide.language}}</div>
				<div>Rating: {{[1].details.guide.rating}}</div>
			</section>
		</section>
		{{/with}}
		{{/with}}
		{{/with}}


		<hr>


	</article>



</main>