<div class="card text-bg-light h-100">
  <div class="card-header h-100 ">
    <div>{{ name }}</div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item A second item">
      {{items.[0]}}
    </li>

    <li class="list-group-item A third item">
      {{items.[1]}}
    </li>

    <li class="list-group-item A third item">
      {{items.[2]}}
    </li>
  </ul>
</div>