<nav class="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
        {{#if url includeZero=true}}
        {{!-- чтобы убрать подчеркнутость в  хлебн крошках: <a class='text-decoration-none' --}}
        <li class="breadcrumb-item"><a class='text-decoration-none' href="{{url}}">{{name}}</a>
        </li>
        {{else}}
        <li class="breadcrumb-item">{{name}}</li>
        </li>
        {{/if}}
        {{/each}}
        </ul>
</nav>