{{#with projects}}
<div>Project name: {{ name }}</div>
<ul>
  <li>
    <div>Project name: {{ name }}</div>
    <div>Description: {{ description }}</div>
    <div>Technologies:</div>

    {{ technologies }}
  </li>
</ul>

{{/#with}}