<div class="card">
    <img class="card-img-top" src="{{image}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{title}}
            {{#if idNew}}<span class="badge text-bg-primary rounded-pill text-capitalize">нове
                {{/if}}</span>
            {{#if isHot}}<span class="badge text-bg-warning rounded-pill text-capitalize">hot{{/if}}</span>
            {{#if isBonus}}<span class="badge text-bg-warning rounded-pill text-capitalize">bonus{{/if}}</span>
        </h5>
        <p class="card-text">{{description}}</p>
    </div>
</div>